#mainAdd {
  background-image: url(/home/banner.jpg);
  padding: 110px 0px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.contentBar {
  max-width: 800px;
}
